@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.frame1 {
    background-color: #EFF3F8;
    border-radius: 16px;
    border: 1px solid #CAD7E8;
    width: 768px;
    padding: 32px;

}

.frame1-h1 {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0%;

}

p {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;

}

.frame2 {
    border-radius: 16px;
    background: #CAD7E8;
    width: 704px;
    padding: 32px;
}

.frame2-h2 {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 12.8px;
    line-height: 150%;
    letter-spacing: 2px;

}

.frame2-ul {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;


}

.frame2-h2 {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 12.8px;
    line-height: 150%;
    letter-spacing: 2px;

}

.frame3 {

    background: #CAD7E8;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-left: 8px solid #F22626;
    width: 704px;
    padding: 32px;
}


.frame3-h2{
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 12.8px;
    line-height: 150%;
    letter-spacing: 2px;

}

.margine-bottom-16px {
    margin-bottom: 16px;
}